$color_1: rgb(48, 47, 47);

.titulo {
	text-align: center;
}

.redes {
	height: 15%;
	width: 15%;
}
.Preguntas {
	text-align: center;
}
.Respuesta {
	text-align: center;
	color: $color_1;
}
.Ubicados {
	text-align: center;
}