.titulo {
	text-align: center;
}
.imagen2 {
	width: 350px;
	height: 370px;
}
.imagen1 {
	width: 350px;
	height: 350px;
}
.imagen3 {
	width: 230px;
	height: 350px;
}
.Subtitulo {
	font-size: x-large;
}
.parrafo {
	font-size: small;
}
.Mapa {
	display: flex;
	align-items: center;
	justify-content: center;
}